* {
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
}

body {
    background-color: #FFFEFE;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 50%;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    color: black;
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: 300;
}

h1 {
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: 400;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: black;
    font-weight: 500;
    padding-bottom: 8px;
} 

header {
    position: fixed;
    width: 100%;
    background-color: #FBFBFC;
    transition: 0.3s;
    padding: 20px; 
}

.container {
    max-width: 100%;
}

.container img {
    width: 100%;
    height: 30vh;
    display: flex;
    position: fixed; 
    margin: 0px -20px;
}

.container h1, h2 {
    position: relative;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    text-align: center;  
}

.container h1 {
    font-weight: 400;
    font-size: 2em;
    color: whitesmoke;
    padding-top: 43px;
}

.container h2 {
    font-weight: 100;
    font-size: 1em;
    margin-top: 20px;
}

.container-paginas {
    max-width: 100%;
}

.container-paginas img {
    width: 100%;
    height: 30vh;
    display: flex;
    position: fixed; 
    margin: 0px -20px;
}

.container-paginas h1 {
    position: relative;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    text-align: center;  
    font-weight: 300;
    font-size: 2em;
    padding-top: 72px;
}

.section-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 280px;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

.section-wrapper3{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 280px;
    padding-bottom: 100px;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

.section-wrapper2{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 100px;
}

.section-bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 40px;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 100px;
}


.countries{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.info-layout {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.wrapper1 {
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}

.wrapper {
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 4px 31px -12px rgba(0, 0, 0, 0.25);    
    padding: 2em;
}

ul {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: black;
    padding-top: 10px;
    padding-bottom: 5px;
    list-style: circle;
    font-weight: 300;
}

/* images */
.images-rotation{
    display: flex;
    gap: 5px;
    /* height: 200px; */
    width: 100%;
    overflow-y: auto;
    width: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    padding-top: 15px;
}

.images-rotation::-webkit-scrollbar {
    display: none;
}

.images-rotation img{
    width: 100px;
    border-radius: 8px;
}

.container-galerij {
    width: 100%;
    padding-top: 285px;
    padding-bottom: 80px;
}

.container-galerij .image-container{
    columns: 3 50px;
    gap: 15px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

.container-galerij .image-container img {
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
    display: flex;
}
/* images end */

/* timeline */
.timeline-content {
  margin-left: 20px; 
}

.timeline h3 {
  margin-bottom: 5px;
  font-weight: 600;
}

.timeline p {
  font-size: 14px;
  margin-top: 0;
} 

.timeline-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}
  
.timeline-content {
    margin-left: 20px; 
}
  
.timeline h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
    position: static;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: start;
}
  
.timeline p {
    font-size: 1em;
    margin-top: 0;
}

.timeline li:nth-child(even):before {
    background-color: #498428;
}
/* timeline end */

/* footer */
footer {
    width: 100%;
    padding: 0px;
    margin: 0 auto;
    background: #E0E7BC;
    position: fixed;
    bottom: 0;
    padding: 7px; 
    display: block;
}

nav {
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-size: smaller;
}

nav ul {
    list-style: none; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul a {
    color: black;
    text-decoration: none;
}

.icons {
    width: 40px;
    display: flex;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}

/* end */